@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 16 185 129; /* Emerald 500 #10b981 */
  --brand-foreground: 255 255 255;
  --background: 255 255 255;
  --foreground: 9 9 11; /* Zinc 950 */
  --muted: 244 244 245; /* Zinc 100 */
  --muted-foreground: 113 113 122; /* Zinc 500 */
  --border: 228 228 231; /* Zinc 200 */
}

/* Custom Utilities */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
